.row {
    margin-bottom: 20px !important;
}

.first-row {
    margin-top: 40px;
}

.first-row > .col-md-12 > .card {
    background-color: #666 !important;
}

.first-row > .col-md-12 > .card > .card-body > .card-title {
    color: white;
}